#mainDiv{
width: 800px;
height: 812px;
border:1px solid black;
background-color: aqua;
display:flex;
justify-content: space-evenly;
align-items: center;
}

.subDiv
{
    height: 60px;
    width: 60px;
    background-color: aliceblue;
    border:1px solid black;
}