/* h1{
    width: 200px;
    border: 4px solid rgb(60, 227, 88);
    margin-left: 0px;
}

h1:hover{
    /* margin-left: 200px;
    transition: margin-left 5s; */
    /* width: 600px;
    transition: width 5s; */

/* } */ 

#outer
{
    width:300px;
    height: 30px;
    border: 2px solid black;
    #inner{
        width: 0%;
        height: 30px;
        background-color: rgb(255, 60, 0);
    }
}

#outer:hover
{
    #inner{
        width:100%;
        background-color: green;
        transition:width 5s ease-in-out, background-color 5s ease-in-out;
    }
}

#outer1
{
    width:300px;
    height: 30px;
    border: 2px solid black;
    #inner1{
        height: 30px; 
    }
}

#outer1:hover
{
    #inner1{
       animation:myAnimation 5s linear;
    }
}

@keyframes myAnimation
{
    0%
    {
        width:0%;
        background-color: red;
    }
     50%
    {
        width:50%;
        background-color: yellow;
    }
     100%
    {
        width:100%;
        background-color: green;
    }
}