*{
    margin: 1%;
    padding:0%;
}

#navbar{
    
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0%;
  z-index: 99%;
  border:1px solid whitesmoke;




   
}
#subnav{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.subhead{
    text-decoration: none;
    color: black;
}
#signin{
    background-color: white;
    border: none;
    padding-right: 10px;
}
#blocks{
    background-color: black;
    color: white;
    padding:10px
}
#main{
    font-size: 20px;
}
#front{
    display: grid;
    grid-template-columns: auto auto;
    display:flex;
    justify-content:center;
    align-items: center;
}

img{
    width: 600px;
    height: auto;
}
#heading{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font: width 100px; ;
}
#content{
    font-size: 20px;
    margin-left: 10px;
}
#offer{
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5%;
}
#email{
    padding:10px;
    width: 200px;
}
#front2{
   
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
    
}
.subimage{
    img{
        width: 120px;
        
    }
}
#what{
    font-size: xx-large;
    font-weight: bold;
}
#front3{
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;

    .subfront3{
        margin: 50px;
    }
}
.subfront3{
    text-align: center;
}

#projects{
    font-size: xx-large;
    font-weight: bold;
}

#front4{
    margin: 0px 40px 0% 40px;
    padding: 24px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: max-content;
   
    
    .subfront4{
        img{
            width: fit-content;
            text-align: center;
            margin: 50px;
        }
    }
    #details{
        background-color: black;
        color: white;
        padding: 10px;
    }
}
#front5{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0px 100px 0px 100px;
}
.subfront5
{
    img{
        width: 30px;
    }
}

#client{
    font-size: x-large;
}
#front6{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between 10px;
    margin-left: 250px;
}

.subfront6{
    .smallimg{
        width: 30px;
    }
    #bigimg{
        width: 300px;
        
    }
}
#front7{
    display:grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
    filter: grayscale();
  
}

#front8{
    margin-left: 200px;
    margin-right: 200px;
    display: grid;
    grid-template-columns: auto auto ;
    border: 1px solid white;
    box-shadow: 0px 0px 2px 2px lightgrey;
    justify-content: space-around;

    #send{
    background-color: black;
    color: white;
    padding: 2px;
    
}
    
}
#inner8{
    background-color: black;
    opacity: 90%;
    align-items: center;
    justify-content: center;
    padding: 40px;
    color: white;
    border-radius: 15px;
}
#contact{
    color: white;
    font-size: x-large;
    font-weight: bold;
}
.input
{
    border: none;
}
#front9{
    margin:0px;
    border: whitesmoke;
    
    display: grid;
    grid-template-columns: auto auto;
    a{
        color: black;
        text-decoration: none;
    }
    #subscribe{
        background-color: black;
        color: white;
        padding: 10px;
    }
}

.grayscale{
    color: #9e9e9e;
    
}