#maindiv {
  text-align: center;
}

#about {
  margin-top: 100px;
}

.links {
  color: white;
}
.links:hover {
  color: black;
  font-size: 20px;
}

.Enroll {
  background-color: blue;
  color: white;
  padding: 2px;
  border-radius: 20px;
}

.Enroll:hover {
  background-color: aqua;
}
.img {
  width: 250px;
  height: 300px;
  border: 2px solid blue;
  border-radius: 15px;
}
.img:hover{

    width:300px;
    height: 400px;
}
.prodimg{
    width:200px;
    height: 200px;
}
.title{
    height: 60px;
    margin-bottom: 40px;
}
.price{
    height: 20px;
margin-bottom: 10px;
}
.description{
    height: 145px;
    margin-bottom: 10px;
}
.buy{
    height: 40px;
    margin-bottom: 10px;
}
