img{
    height: 85vh;
    aspect-ratio: 1;
    margin: 0 auto;
}

#div{
    width: fit-content;
    margin: 0 auto;
}

#parent{
    width: 100%;
    display: flex;
    justify-content: center;

}
/* .flag {
  cursor: pointer;
  font-size: 24px;
} */

body{
    background-color: rgb(160, 198, 160);
    
}