#mainDiv{
width: 800px;
height: 812px;
border:1px solid black;
background-color: aqua;
display:grid;
grid-template-columns: 100px 100px 100px 100px;
}

.subDiv
{
    height: 60px;
    width: 60px;
    background-color: aliceblue;
    border:1px solid black;
}